{{#if error}}
<div class = "alert alert-danger" role = "alert">
	<span class="glychicon glychicon-exclamation-sign" aria-hidden = "true"></span>
	<span class = "sr-only">Error:</span>
	{{error}}
</div>
{{/if}}


<link rel="stylesheet" href="/stylesheets/profile.css">

<style>
.sidebar-nav > .sidebar-brand{
  height: 45px !important;
  margin: 10px 0
}
.sidebar-nav > .sidebar-brand p{
  color: #999999;
  font-size: 1.3em;
}
.home{
  font-size: 1.4em;
  color: #FC585F !important;
}
.line{
  margin-bottom: 0px !important;
}
.current{
  background: #FC585F !important;
  color: #FFF !important
}
.profile_img{
  text-indent: 0;
}
.profile_img img{
  width: 100%;
  height: 250px;
  padding: 0;
  margin: 0;
}
.main-page{
	height: 100vh;
}
.btn-default{
	padding: 10px 20px;
	color: black;
	border: 1px solid black;
	background:none;
}
textarea{
	border-radius: 10px;
	width: 80%;
	height: 30%;
	color: black;
	text-align: center;
}
#user{

	border-right: 1px solid black;
	height: 80%;
}
h3{
	text-align: center;
}
#projects{
	
	height: 100%;
}
#hackathons{
	border-right: 1px solid black;
	height: 100%;
}
</style>
<body>
<div id="wrapper">
<!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
            	<li style="height:6%;">
            	<center>
            		<div class = "profile_img"><img src="{{imageUrl}}"></div>
            		</center>
            	</li>
                <li class="sidebar-brand">
                    <a href="/profileInfo" class="home">
                        H O M E
                    </a>
                </li>
                <hr class = 'line'>
                <li class="sidebar-brand">
                    <a href="/projectsInternal">P R O J E C T S</a>
                </li>
                <li class="sidebar-brand">
                    <a href="/logout">L O G O U T</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
  <div id="page-content-wrapper">
  <div class = "container">
	<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">T O G G L E</a>
	<div class = "container main-page">
	<div class="col-md-6" id = "user">
	<h3>YOUR PROFILE</h3>	
	<h4><span style="font-weight:800">Name:</span> {{name}}</h4>
	<h4><span style="font-weight:800">Your Motto:</span><br>{{motto}}</h4>
	<h4><span style="font-weight:800">Your Passion:</span> <br>{{bio}}</h4>
	<h4><span style="font-weight:800">Your Skills:</span><br>{{skills}}</h4>
  <h4><span style="font-weight:800">Your Phone Number:</span><br>{{phone}}</h4>
  <h4><span style="font-weight:800">Your Email:</span><br>{{email}}</h4>
  <h4><span style="font-weight:800">Your Website:</span><br>{{website}}</h4>
  <hr>
  <center>
   <!-- Small modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Update Your Profile</button>
	</center>

  <h4><span style="font-weight:800">Your Notes:</span></h4> <p>Your Notes Will Automatically Save as You Type</p>
  <textarea id = "notes">{{notes}}</textarea>
</div>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <form>
      <div class="form-group">
     <label for="name">Name</label>
   	 <input type="text" class="form-control" id="nameInput" value="{{name}}">
      </div>
        <div class="form-group">
     <label for="motto">Motto</label>
    <input type="text" class="form-control" id="mottoInput" value="{{motto}}">
      </div>
        <div class="form-group">
     <label for="passion">Passion</label>
    <input type="text" class="form-control" id="bioInput" value="{{bio}}">
      </div>
        <div class="form-group">
     <label for="skills">Skills - please separate with comma</label>
    <input type="text" class="form-control" id="skillsInput" value="{{skills}}">
      </div>
        <div class="form-group">
     <label for="phone">Phone Number</label>
    <input type="text" class="form-control" name="phoneNumber" id="phoneInput" value="{{phone}}">
      </div>
        <div class="form-group">
     <label for="email">Email address</label>
    <input type="email" class="form-control" name="email" id="emailInput" value="{{email}}">
      </div>
    <div class="form-group">
     <label for="website">Website</label>
    <input type="website" class="form-control" name="website" id="websiteInput" value="{{website}}">
      </div>
      <center><button class = "btn-default btn" type="submit" id = "save">Save</button></center>
      </form>
    </div>
  </div>
</div>




<div class="col-md-6" id = "projects"><h3>YOUR PROJECTS</h3>
<center>

{{#if projectUser}}
{{#each projectUser}}
<div class="project">
  <a href="/projectsInternal/{{project._id}}"><h3>{{project.name}}</h3></a>
  <div class="projectImage" style="background-image: url('{{project.imageUrl}}')"></div>
</div>
{{/each}}
{{else}}
<center>
  <h4>You Haven't Joined Any Projects! Click Projects to Get started!</h4>
</center>

{{/if}}

</center>


</div>
	
</div>
</div>
</div>	
<script>
$("#menu-toggle").click(function(e) {
       e.preventDefault();
       $("#wrapper").toggleClass("toggled");
   });

$('#notes').on('input propertychange', function(e){
	 $.ajax('/profileInfoNotes',{'method': 'PUT', 'data': {notes: $('#notes').val()}, function(res){
	 	console.log(res);
	 }})
})

$('#save').on('click', function(e){
	e.preventDefault();
	$.ajax('/profileInfo', {'method' : 'PUT', 
		'data': {
			name: $('#nameInput').val(),
			motto: $('#mottoInput').val(),
			bio: $('#bioInput').val(),
			skills: $('#skillsInput').val(),
			phone: $('#phoneInput').val(),
			email: $('#emailInput').val(),
			website: $('#websiteInput').val()
		}, success:function(res){
			console.log(res);
			window.location.href = "/profileInfo";
		}
	})
})
</script>
</body>