{{#if error}}
<div class = "alert alert-danger" role = "alert">
	<span class="glychicon glychicon-exclamation-sign" aria-hidden = "true"></span>
	<span class = "sr-only">Error:</span>
	{{error}}
</div>
{{/if}}

<style>
.sidebar-nav > .sidebar-brand{
  height: 45px !important;
  margin: 10px 0
}
.sidebar-nav > .sidebar-brand p{
  color: #999999;
  font-size: 1.3em;
}
.home{
  font-size: 1.4em;
  color: #FC585F !important;
}
.line{
  margin-bottom: 0px !important;
}
.current{
  background: #FC585F !important;
  color: #FFF !important
}
.profile_img{
  text-indent: 0;
}
.profile_img img{
  width: 100%;
  height: 250px;
  padding: 0;
  margin: 0;
}
.main-page{
	height: 100vh;
}
.btn-default{
	padding: 10px 20px;
	color: black;
	border: 1px solid black;
	background:none;
}
textarea{
	border-radius: 10px;
	width: 80%;
	height: 30%;
	color: black;
	text-align: center;
}
#user{

	border-right: 1px solid black;
	height: 80%;
}
h3{
	text-align: center;
}
#projects{
	
	height: 100%;
}
#hackathons{
	border-right: 1px solid black;
	height: 100%;
}
</style>
<body>
<div id="wrapper">
<!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
            	<li style="height:6%;">
            	<center>
            		<div class = "profile_img"><img src="{{imageUrl}}"></div>
            		</center>
            	</li>
                <li class="sidebar-brand">
                    <a href="/dash_home" class="home">
                        H O M E
                    </a>
                </li>
                <hr class = 'line'>
                <li class="sidebar-brand">
                    <a href="/lead_vis_raw" class="current">P R O F I L E</a>
                </li>
                <li class="sidebar-brand">
                    <a href="/lead_vis_top_bottom">P R O J E C T S</a>
                </li>
                <li class="sidebar-brand">
                    <a href="/lead_vis" class = "">H A C K A T H O N S</a>
                </li>
                 <li class="sidebar-brand">
                    <a href="/lead_vis" class = "">C O N T R A C T S</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
  <div id="page-content-wrapper">
  <div class = "container">
	<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">T O G G L E</a>
	<div class = "container main-page">
	<div class="col-md-6" id = "user">
	<h3>YOUR PROFILE</h3>	
	<h4><span style="font-weight:800">Name:</span> {{name}}</h4>
	<h4><span style="font-weight:800">Your Motto:</span><br>{{motto}}</h4>
	<h4><span style="font-weight:800">Your Passion:</span> <br>{{bio}}</h4>
	<h4><span style="font-weight:800">Your Skills:</span><br>{{skills}}</h4>
  <h4><span style="font-weight:800">Your Phone Number:</span><br>{{phone}}</h4>
  <h4><span style="font-weight:800">Your Email:</span><br>{{email}}</h4>
  <h4><span style="font-weight:800">Your Website:</span><br>{{website}}</h4>
  <h4><span style="font-weight:800">Your Notes:</span></h4>
  <textarea>{{notes}}</textarea>

	</div>
	<div class="col-md-6" id = "projects"><h3>YOUR PROJECTS</h3></div>
	
</div>
</div>
</div>	
<script>
$("#menu-toggle").click(function(e) {
       e.preventDefault();
       $("#wrapper").toggleClass("toggled");
   });
</script>
</body>