<link rel = "stylesheet" href="/stylesheets/singleProjects.css">
<script src = "/javascripts/posts.js"></script>
<body>
<div id="wrapper">
<!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
              <li style="height:6%;">
              <center>
                <div class = "profile_img"><img src="{{imageUrl}}"></div>
                </center>
              </li>
                <li class="sidebar-brand">
                    <a href="/profileInfo" class="home">
                        H O M E
                    </a>
                </li>
                <hr class = 'line'>
                <li class="sidebar-brand">
                    <a href="/projectsInternal" class="current">P R O J E C T S</a>
                </li>
                <li class="sidebar-brand">
                    <a href="/logout">L O G O U T</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
  <div id="page-content-wrapper">
  	<div class = "container">
  		<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">T O G G L E</a>
  		<div class="container main-page">
  			<div class=" col-md-12 title">
  				<center>
  					<h1>{{project.name}}</h1>
  					<div class="profileImage imageOwner" style="background-image: url('{{project.projectCreator.imageUrl}}');"></div>
  					<h6>By {{project.projectCreator.name}}</h6>
  				</center>
  			</div>

  			<div class="col-md-6 image">
  				<div class="projectImage" style="background-image: url('{{project.imageUrl}}')">
  				</div>
  			</div>

  			<div class="col-md-6 information">
  				<div class="membersnumber">
  				<center>
  				<h2>{{length}}</h2>
  				<p>M E M B E R S</p>
  				</center>
  				</div>
  				<h4><span class="bold">Description: </span>{{project.description}}</h4>

  				<center>
  				<a href = '/leave/{{project._id}}'><button>L E A V E P R O J E C T</button></a>
          <button id="update" data-toggle="modal" data-target="#updateModal">U P D A T E </button>
  					<div class="selection">
  					<button id="postsButton">P O S T S</button>
  					<button id="membersButton">M E M B E R S</button>

  				</div>

  				</center>

  			</div>

        <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
            <h4 class="modal-title" id="updateModalLabel">Update Your Role</h4>

            </div>

            <div class="modal-body">
            <form method="Post">
              <div class="form-group">
              <center>
              <label>Update your Role</label>
              </center>
              <input type="text" class="form-control" id ="contribution" name = "contribution" required="true" value="{{contribution}}">
            </div>
            </div>

            <div class = "modal-footer">
            <button type="button" class="btn btn-default" style="padding: 3% !important; border-radius: 10px;" data-dismiss="modal">Close</button>
            <input type="submit" value="Update" class="btn btn-primary" id ="join">

            </form>


            </div>

            </div>

        </div>

        </div>
        <div class="clear"></div>
 
  				<div class="col-md-12 board">

  					<div class="membersBoard">
  						<h2 id ="titleBoard">M E M B E R S</h2>
  						{{#each projectUser}}
  						
  						<div class = "member">
  						<div class = "memberImage" style="background-image: url('{{user.imageUrl}}')"></div>
  						<div class = "memberInfo">
  						
  							<h3><a href = "/users/{{user._id}}" title="Visit {{user.name}}">{{user.name}}</a></h3>
  							<p><span class="bold">What I do:</span> {{contribution}}</p>
  							<p><span class="bold">Skills: </span>
  								{{user.skills}}	
  							</p>
  						</div>
  						</div>
               <div class="clear"></div>
  						{{/each}}
  						</div>

  					<div class="postsBoard">
            <h2 id ="titleBoard">P O S T S</h2>
            <textarea id="content"></textarea>
            <div class="clear"></div>
            <button class="btn btn-default" id ="makePost">Post</button>
            <div id="postingBoard"></div>
  					</div>

  				</div>
  			</div>

  		</div>
 	</div>
  </div>

  <script type="text/javascript">
       $("#menu-toggle").click(function(e) {
         e.preventDefault();
         $("#wrapper").toggleClass("toggled");
        });


  		$('#postsButton').click(function(e){
          console.log('action');
          var projectId = "{{project._id}}"
          $('#membersButton').css('background-color', 'white');
          $('#postsButton').css('background-color', 'green');

          $('#membersButton').css('color', 'black');
          $('#postsButton').css('color', 'white');

          $('.membersBoard').fadeOut();
          setTimeout(function() {$('.postsBoard').fadeIn() }, 500);
          mountBoard(projectId);
      })

      $('#membersButton').click(function(e){
        console.log('displayMembers');
        $('#membersButton').css('background-color', 'green');
        $('#postsButton').css('background-color', 'white');
        $('#membersButton').css('color', 'white');
        $('#postsButton').css('color', 'black');

        $('.postsBoard').fadeOut();
        setTimeout(function() {$('.membersBoard').fadeIn() }, 500);
      })

      $('#makePost').click(function(e){
        console.log('making post');
        var content = $('#content').val();
        var projectId = "{{project._id}}";
        setPosts(content, projectId);
        $('#content').val("");
      })

  </script>
